body{
    background-color: #EBEBEB;
}

table, tr,td{
    border: 1px solid black;
}

#TableDiv{
    position: absolute;
    margin-top: 50px;
    right: 400px;
}

#TableDiv2{
    position: relative;
    top: 300px;
    left: 350px;
}

#btn{
    position: absolute;
    top: 600px;
    left: 360px;
}

#Top{
    position: absolute;
    left: 360px;
}

#Footer{
    position: absolute;
    bottom: 10px;
    left: 360px;
}